<div class="container-fluid">
    <br/>

    <div class="row">
        <div class="col-12 text-center">
            <h6 class="pont">Pontuação</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1  class="pont-number">500 pts</h1>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bebida</th>
                        <th>Quantidade</th>
                        <th>Adicionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Serra Malte</td>
                        <td>2</td>
                        <td>+</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>