<div class="container-fluid">


    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <h2>Posição</h2>
                        </th>
                        <th>
                            <h4>Nome</h4>
                        </th>
                        <th>
                            <h2>Pontuação</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of ranking">
                        <td>1</td>
                        <td>{{usuario.nome_usuario}}</td>
                        <td>{{usuario.pontuacao}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>